<div class="container" *ngIf="!loading">
  <mat-card *ngIf="heroForm">
    <mat-card-header>
      <mat-card-title>
        <h2 *ngIf="heroExists">Editing info of {{heroExists.name}}</h2>
        <h2 *ngIf="!heroExists">Creating a new hero</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="heroForm">
        <mat-form-field *ngIf="heroExists && heroExists.idHero">
          <mat-label for="idHero">Hero ID: </mat-label>
          <input matInput name="idHero" formControlName="idHero" readonly [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label for="name">Hero name:</mat-label>
          <input matInput name="name" formControlName="name">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warning" (click)="save()" [disabled]="!heroForm.valid">Save heroe</button>
      <button mat-button color="warning" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="!heroForm">
    <mat-card-title>
      <h3>There has been an error setting the form.</h3>
    </mat-card-title>
  </mat-card>
</div>