<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>List of heroes</h2>
      </mat-card-title>
      <mat-form-field>
        <mat-label for="partial_name">Filter heroes by name</mat-label>
        <input matInput id="partial_name" [formControl]="partial_name_input">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-button color="primary" class="edit-button" (click)="addHero()">
        <mat-icon>add</mat-icon>
        Create new hero
      </button>
    </mat-card-header>
    <mat-card-content *ngIf="dataSource.data.length">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let hero">{{hero.idHero}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let hero">{{hero.name}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let hero">
            <button mat-button color="primary" class="edit-button" (click)="editHero(hero.idHero)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="accent" class="delete-button" (click)="deleteHero(hero)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[10, 20, 50, 100, 1000]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-card-content *ngIf="!dataSource.data.length">
      <div>
        <h2>There is no data.</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>