<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>List of heroes</h2>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!heroes$">There are no heroes to display</mat-card-subtitle>
      <form formControl="partial_name_input" (onSubmit)="searchingHeroName()">
        <mat-form-field>
          <mat-label for="partial_name">Filter heroes by name</mat-label>
          <input matInput id="partial_name">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-button color="primary" type="submit">Filter</button>
      </form>
      <button mat-button color="primary" class="edit-button" (click)="addHero()">
        <mat-icon>add</mat-icon>
        Create new hero
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="heroes$">
        <mat-list-item *ngFor="let hero of heroes$ | async">
          <div class="hero-info" *ngIf="hero.idHero">
            <div class="id-container"><span class="id">ID: {{hero.idHero}}</span></div>
            <div class="name-container"><span class="name">Name: {{hero.name}}</span></div>
            <div class="actions-container">
              <button mat-button color="primary" class="edit-button" (click)="editHero(hero.idHero)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button color="accent" class="delete-button" (click)="deleteHero(hero)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>